@import 'ui.scss';

.container {
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
}

.page-box {
	flex: 1;
	padding: 20rpx;
}

.card-box {
	background-color: #fff;
	border-radius: 20rpx;
	overflow: hidden;
}
.mt-10 {
	margin-top: 10rpx;
}
.mt-20 {
	margin-top: 20rpx;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}